.bg_section {
    background-image: url(../img/Rectangle_539.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.data_flex {
    display: flex;
    flex-wrap: wrap;
    .price {
        width: 100%;
        text-align: center;
        justify-content: center;
        p {
            /* Style for "PRICING" */
            color: #fa2952;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: -0.48px;
            line-height: 1px;
            text-transform: uppercase;
            /* Text style for "PRICING" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            h3 {
                /* Style for "Simple, Tr" */
                color: #122d48;
                font-family: Poppins;
                font-size: 32px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: -0.64px;
                line-height: 1px;
                text-align: left;
                /* Text style for "Simple, Tr" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
            }
        }
    }
    .startup {
        /* Style for "Rectangle" */
        margin: 12px;
        width: 30%;
        border-radius: 5px;
        border: 1px solid #e3e7ea;
        background-color: #ffffff;
        .content {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
        table {
            width: 100%;
            text-align: center;
            tr td {
                padding: 12px 0px;
            }
        }
        .button_card {
            width: 100%;
            text-align: center;
            margin: 30px 0px;
            button {
                color: #fa2952;
                width: 216px;
                padding: 12px;
                border: none;
                outline: none;
                /* Style for "Rectangle" */
                border-radius: 5px;
                background-color: rgba(250, 41, 82, 0.1);
            }
        }
        hr {
            width: 80%;
        }
        &:hover {
            transition: 1s;
            color: #fff;
            box-shadow: 0 73px 57px rgba(168, 168, 168, 0.22);
            background-image: linear-gradient(213deg, #4f2483 0%, #171b50 100%);
            button {
                transition: 1s;
                color: #fff;
                background-color: #fa2952;
            }
        }
    }
}

// <!-- card section two -->
.blog {
    width: 30%;
    background-color: #ffffff;
    margin: 12px;
    .card-img-top {
        max-width: 20rem;
    }
    p {
        /* Style for "A blog by" */
        color: #7f7c7c;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 17px;
        /* Text style for "A blog by" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        padding-left: 30px
    }
    h4 {
        /* Style for "Device Sim" */
        color: #1e1d1d;
        font-family: "Open Sans";
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        /* Text style for "Device Sim" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        padding-left: 30px;
    }
    .author {
        display: flex;
        padding-left: 30px;
    }
}