.bg_footer {
    background-color: $primary_color;
    .virtualization {
        width: 270px;
    }
    .link_ta {
        width: 270px;
    }
}

.d_flex {
    @include flex(space-between);
    color: #ffffff;
    .virtualization {
        width: 300px;
        margin: 120px 0px 0px 120px;
        p {
            padding: 44px 0px;
            opacity: 0.8;
            color: #ffffff;
            font-size: 15px;
            line-height: 26px;
        }
    }
    .location {
        width: 160px;
        margin-top: 120px;
        Address {
            padding: 44px 0px;
            opacity: 0.8;
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
        }
    }
    .link_tag_footer {
        width: 300px;
        margin-top: 120px;
        p {
            padding: 44px 0px;
            opacity: 0.8;
            color: #ffffff;
            font-size: 15px;
            line-height: 26px;
        }
        .fa-twitter,
        .fa-facebook-f,
        .fa-linkedin {
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            border-radius: 100%;
            padding: 13px;
            display: inline-block;
            margin: 25px 17px 0px 2px;
            color: #171b50;
        }
    }
    h4 {
        opacity: 0.8;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
}