header {
    background-color: $primary_color;
    border-bottom-right-radius: 100% 206px;
    border-bottom-left-radius: 100% 206px;
    background-image: radial-gradient(closest-side at 70% 70%, #401357, #64188a, $primary_color);
}

.flex-header {
    @include flex(space-between);
    .logo img {
        padding-top: 13px;
    }
    .nav_link_one ul,
    .nav_link ul {
        margin-top: 20px;
        @include flex(space-between);
        li {
            margin-left: 20px;
            list-style: none;
            .underline:hover {
                border-bottom-style: solid;
                border-width: 1px;
                border-color: #fb3a5a;
            }
        }
    }
    li.bg_sign {
        border-radius: 23px;
        background-color: #563299;
        padding-left: 30px;
        padding-right: 28px;
    }
    a {
        text-align: center;
        .fa-phone-alt {
            background-color: #fb3a5a;
            border-radius: 50%;
            width: 30px;
            padding: 7px;
            &:hover {
                background-color: $primary_color;
            }
        }
    }
}

.flex_articale .card {
    width: 461px;
    margin: 140px 0px 230px;
    color: $text_color_one;
    padding: 6px;
    .badge {
        color: #1d1d1e;
        background-color: #24bff8;
        padding: 4px;
        width: fit-content;
        border-radius: 7px;
        margin: 7px 0px;
        text-transform: uppercase;
    }
    h1 {
        margin: 15px 0px;
    }
    p {
        color: #ded9f8;
        margin-bottom: 35px;
    }
    input {
        border-bottom-left-radius: 100% 250px;
        border-top-left-radius: 100% 250px;
        padding: 12px;
    }
    button {
        border-bottom-right-radius: 100% 70px;
        border-top-right-radius: 100% 70px;
        padding: 10px;
        background-color: #fb3a5a;
        margin-left: -12px;
        color: #fff;
        @include Button_text_style_two
    }
}

.flex_articale .card input[type="text"] {
    padding: 14px;
    border-radius: 589px;
    width: 5%;
}

.flex_articale {
    @include flex(space-between);
    .banner_image {
        width: 460px;
        margin-top: 100px;
        margin-right: 100px;
        img {
            width: 100%;
        }
    }
}