        header {
            background-color: $primary_color;
            border-bottom-right-radius: 100% 206px;
            border-bottom-left-radius: 100% 206px;
            background-image: radial-gradient(closest-side at 70% 70%, #401357, #64188a, $primary_color);
        }
        
        .flex-header {
            @include flex(space-between);
            padding-top: 12px;
            .nav_link_one ul,
            .nav_link ul {
                margin-top: 20px;
                @include flex(space-between);
                li {
                    margin-left: 25px;
                    list-style: none;
                    a {
                        @include header_link;
                        text-decoration: none;
                    }
                }
            }
        }
        
        .nav_link_one {
            li.bg_sign {
                border-radius: 23px;
                background-color: #563299;
                padding-left: 30px;
                padding-right: 28px;
            }
            a {
                text-align: center;
                .fa-phone-alt {
                    background-color: red;
                    border-radius: 50%;
                    width: 30px;
                    padding: 7px;
                    &:hover {
                        background-color: $primary_color;
                    }
                }
            }
        }
        
        .logo img {
            padding-top: 13px;
        }
        
        .flex_articale .card {
            width: 361px;
            margin: 200px 0px 230px;
            color: #fff;
            padding: 6px;
            input {
                width: 250px;
                border-bottom-left-radius: 100% 206px;
                border-top-left-radius: 100% 206px;
                padding: 12px;
                outline: none;
                border: none;
            }
            button {
                border-bottom-right-radius: 100% 70px;
                border-top-right-radius: 100% 70px;
                padding: 12px;
                outline: none;
                border: none;
                background-color: #fb3a5a;
                margin-left: -12px;
                color: #fff;
            }
        }
        
        .paragraph {
            color: #ded9f8;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: -0.48px;
            line-height: 27px;
            text-align: left;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        
        .badge {
            background-color: #24bff8;
            width: fit-content;
            color: $text_color_two;
            border-radius: 4px;
            p {
                padding: 4px;
            }
        }
        
        .flex_articale .card input[type="text"] {
            padding: 14px;
            border-radius: 589px;
            width: 55%;
        }
        
        .flex_articale {
            @include flex(space-between);
            .new {
                width: 500px;
                margin-top: 100px;
                margin-right: 100px;
                img {
                    width: 100%;
                }
            }
        }