@media screen and ( max-width:991px) {
    .flex-header {
        display: flex;
        flex-direction: column;
        .nav_link ul {
            flex-direction: column;
            li {
                margin-top: 15px;
                margin-left: 0px;
            }
        }
        .nav_link_one ul {
            flex-direction: column;
            li {
                margin-top: 15px;
                margin-left: 0px;
            }
            .bg_sign {
                text-align: center;
            }
        }
    }
    .flex_artical {
        .bg_two {
            display: none;
        }
        .artical_one {
            padding: 0px;
            margin: 0px !important;
        }
    }
    .flex_articale .banner_image img {
        display: none;
    }
    .flex_iotify {
        flex-direction: column-reverse;
    }
}