// text color
$primary_color:#24126a;
$text_color_one: #ffffff;
$text_color_two:#1d1d1e;
$text_color_three: #ded9f8;
$text_color_four: #6a7179;
$text_color_five:#252728;
$text_color_six: #576471;
$text_color_seven:#fa2e57;
$text_color_eight:#1c1b1b;
$text_color_nine:#3c3c3c;
$text_color_ten:#fa2952;
$text_color_eleven:#122d48;
$text_color_twelve:#a2a2a2;
$text_color_thirteen: #363d50;
$text_color_fourteen: #969fb0;
$text_color_fifteen: #3c4149;
$text_color_sisteen: #7f7c7c;
$text_color_seventeen:#1e1d1d;
$text_color_eighteen: #413f3f;
$text_color_nineteen: #6b6969;
$text_color_twenty:#262525;
$text_color_twenty-one: #303131;
$text_color_twenty-two:#7a7e82;
$text_color_wenty-three: #f42851;
$text_color_twenty-four: #7c7d8d;
$text_color_twenty-five: #263035;
$text_color_twenty-six: #0d2763;
// font family
$font_family_one: Poppins;
$font_family_two:"Circular Std Medium";
$font_family_three: Candara;
$font_family_four:"Open Sans";
$font_family_five:Arial;
$font_family_six: "SF UI Display";
// fontweight
$font_weight:500;
$font_weight_one: 400;
$font_weight_two:600;
$autoMargin: auto;