/* custom stylesheet */
html,
body {
  padding: 0;
  border: 0;
  font-family: Poppins;
  max-width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 90%;
  margin: auto;
}

.space_one {
  padding: 80px 0px;
}

.space_two {
  padding: 281px 0px;
}

.space_three {
  padding: 100px 0px;
}

.space_four {
  padding: 206px 0px;
}

*,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 29px;
}

h3 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: -0.84px;
  line-height: 56px;
}

p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.11px;
  line-height: 33px;
}

button {
  border: none;
  outline: none;
  padding: 12px;
}

input {
  border: none;
  outline: none;
}

header {
  background-color: #24126a;
  border-bottom-right-radius: 100% 206px;
  border-bottom-left-radius: 100% 206px;
  background-image: radial-gradient(closest-side at 70% 70%, #401357, #64188a, #24126a);
}

.flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-header .logo img {
  padding-top: 13px;
}
.flex-header .nav_link_one ul,
.flex-header .nav_link ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-header .nav_link_one ul li,
.flex-header .nav_link ul li {
  margin-left: 20px;
  list-style: none;
}
.flex-header .nav_link_one ul li .underline:hover,
.flex-header .nav_link ul li .underline:hover {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #fb3a5a;
}
.flex-header li.bg_sign {
  border-radius: 23px;
  background-color: #563299;
  padding-left: 30px;
  padding-right: 28px;
}
.flex-header a {
  text-align: center;
}
.flex-header a .fa-phone-alt {
  background-color: #fb3a5a;
  border-radius: 50%;
  width: 30px;
  padding: 7px;
}
.flex-header a .fa-phone-alt:hover {
  background-color: #24126a;
}

.flex_articale .card {
  width: 461px;
  margin: 140px 0px 230px;
  color: #ffffff;
  padding: 6px;
}
.flex_articale .card .badge {
  color: #1d1d1e;
  background-color: #24bff8;
  padding: 4px;
  width: fit-content;
  border-radius: 7px;
  margin: 7px 0px;
  text-transform: uppercase;
}
.flex_articale .card h1 {
  margin: 15px 0px;
}
.flex_articale .card p {
  color: #ded9f8;
  margin-bottom: 35px;
}
.flex_articale .card input {
  border-bottom-left-radius: 100% 250px;
  border-top-left-radius: 100% 250px;
  padding: 12px;
}
.flex_articale .card button {
  border-bottom-right-radius: 100% 70px;
  border-top-right-radius: 100% 70px;
  padding: 10px;
  background-color: #fb3a5a;
  margin-left: -12px;
  color: #fff;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-family: Poppins;
  text-align: left;
}

.flex_articale .card input[type=text] {
  padding: 14px;
  border-radius: 589px;
  width: 5%;
}

.flex_articale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex_articale .banner_image {
  width: 460px;
  margin-top: 100px;
  margin-right: 100px;
}
.flex_articale .banner_image img {
  width: 100%;
}

.background_img {
  background-image: url("../img/Rectangle_792@2x.png");
  background-size: cover;
  background-position: 100px -600px;
  background-repeat: no-repeat;
}
.background_img .flex_artical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.background_img .flex_artical .bg_two {
  background-color: #24126a;
  border-top-right-radius: 50% 267px;
  border-bottom-right-radius: 50% 267px;
  position: absolute;
  margin-left: -120px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.background_img .flex_artical .bg_two img {
  width: 300px;
  margin: 30px 120px;
}
.background_img .flex_artical .artical_one {
  width: 500px;
  margin-left: 45%;
}
.background_img .flex_artical .artical_one h3 {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
  color: #252728;
  padding: 5px 0px;
}
.background_img .flex_artical .artical_one p {
  color: #576471;
  font-size: 15px;
  line-height: 27px;
}
.background_img .flex_artical .artical_one p span {
  display: block;
  padding: 16px 0px;
}
.background_img .flex_artical .artical_one button {
  border-radius: 29px;
  background-color: #fb3a5a;
  color: white;
  margin: 10px 0px;
}

.background_img_one {
  position: relative;
  z-index: 2;
}
.background_img_one:before {
  content: "";
  opacity: 0.1;
  background-image: url("../img/Group_8281.png");
  background-size: cover;
  background-position: -1093px -82px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 0;
}
.background_img_one .flex_iotify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.background_img_one .flex_iotify .artical_two {
  width: 550px;
}
.background_img_one .flex_iotify .artical_two .paragraph_two {
  color: #fa2e57;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 15px 0px;
}
.background_img_one .flex_iotify .artical_two h3 {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
  color: #252728;
  padding: 5px 0px;
}
.background_img_one .flex_iotify .artical_two p {
  color: #576471;
  font-size: 15px;
  line-height: 27px;
}
.background_img_one .flex_iotify .artical_two p span {
  display: block;
  padding: 16px 0px;
}
.background_img_one .flex_iotify .video {
  width: 320px;
  height: 160px;
  background-color: #171616;
  box-shadow: 31px -29px 0px 3px #24126a;
}
.background_img_one .flex_iotify .video img {
  width: 100%;
  height: 160px;
  position: relative;
}
.background_img_one .flex_iotify .video .fa-play {
  background-color: #fa2e57;
  padding: 17px;
  border-radius: 100%;
  margin: 50px 0px 0px -190px;
  position: absolute;
}
.background_img_one .flex_iotify .video:hover {
  opacity: 0.78;
}
.background_img_one .flex_iotify .video:hover .fa-play {
  background-color: #d31239;
}

.background_img_two {
  background-image: url("../img/Rectangle_601@2x.png");
  background-size: cover;
  background-position: -500px -750px;
  background-repeat: no-repeat;
}
.background_img_two .flex_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.background_img_two .flex_services .bg_three {
  width: 550px;
  margin-top: -100px;
}
.background_img_two .flex_services .bg_three img {
  width: 550px;
}
.background_img_two .flex_services .artical_three {
  width: 550px;
}
.background_img_two .flex_services .artical_three .services {
  color: #fa2e57;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 15px 0px;
}
.background_img_two .flex_services .artical_three h3 {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
  color: #252728;
  padding: 5px 0px;
}
.background_img_two .flex_services .artical_three p {
  color: #576471;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.background_img_two .flex_services .artical_three p span {
  display: block;
  padding: 16px 0px;
}
.background_img_two .flex_services .artical_three a {
  color: #422277;
}

.newsletter {
  background-color: #24126a;
  margin: 12px 0px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.newsletter .newsletter_one {
  display: flex;
  flex-wrap: wrap;
}
.newsletter .newsletter_one .img_curve img {
  width: 40%;
  margin-left: -100px;
}
.newsletter .newsletter_one .img_curve_one {
  margin-left: 700px;
}
.newsletter .newsletter_one .img_curve_one img {
  width: 40%;
  float: right;
}
.newsletter .newsletter_one .subcriber {
  width: 100%;
  text-align: center;
  color: #ffff;
}
.newsletter .newsletter_one .subcriber h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1px;
  padding: 20px;
}
.newsletter .newsletter_one .subcriber .input_field {
  width: 100%;
  margin: 20px 0px;
}
.newsletter .newsletter_one .subcriber .input_field input {
  width: 30%;
  padding: 12px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}
.newsletter .newsletter_one .subcriber .input_field button {
  color: #fff;
  padding: 12px;
  margin: -4px;
  background-color: #fa2e57;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  cursor: pointer;
}
.newsletter .newsletter_one .subcriber .privacy {
  color: #969fb0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.46px;
  line-height: 64px;
}

.testimonial {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.testimonial p {
  color: #fa2e57;
  font-size: 18px;
  padding: 10px 0px;
}
.testimonial h3 {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
  color: #122d48;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.64px;
  line-height: 1px;
}

.center .box_two {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  outline: none;
  margin: 12px;
  background: #24126a;
  position: relative;
}
.center .box_two .image_three {
  width: 50px;
  position: absolute;
  top: 12%;
  left: 47%;
}
.center .box_two p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.48px;
  line-height: 25px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.center .box_two .author {
  width: 240px;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 33%;
}
.center .box_two .author img {
  width: 80px;
  margin-left: 75px;
}
.center .box_two .author .drew {
  color: #2828a2;
  font-size: 20px;
  margin: 0px;
}
.center .box_two .author p {
  color: #a2a2a2;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 39px;
  margin: 0px;
}
.center .slick-track {
  height: auto;
  padding-bottom: 104px;
  outline: none;
}

.bg_section {
  background-image: url(../img/Rectangle_539.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.data_flex {
  display: flex;
  flex-wrap: wrap;
}
.data_flex .price {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.data_flex .price p {
  color: #fa2952;
  font-size: 24px;
  line-height: 1px;
  text-transform: uppercase;
}
.data_flex .price h3 {
  padding: 35px 0px;
  color: #122d48;
  font-size: 28px;
  font-weight: 500;
  line-height: 1px;
}
.data_flex .startup {
  margin: 20px;
  width: 343px;
  border-radius: 5px;
  border: 1px solid #e3e7ea;
  background-color: #ffffff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.data_flex .startup .content {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}
.data_flex .startup .content .standup {
  margin: 12px 0px;
}
.data_flex .startup table {
  width: 100%;
  text-align: center;
  margin-top: 33px;
}
.data_flex .startup table tr td {
  padding: 12px 0px;
  color: #969fb0;
}
.data_flex .startup .button_card {
  width: 116px;
  margin: 0px 50px 50px 120px;
  color: #fa2952;
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(250, 41, 82, 0.1);
  border: none;
  outline: none;
}
.data_flex .startup hr {
  width: 240px;
  text-align: center;
  margin: 15px 50px 10px 50px;
}
.data_flex .startup:hover {
  transition: 1s;
  color: #fff;
  box-shadow: 0 73px 57px rgba(168, 168, 168, 0.22);
  background-image: linear-gradient(213deg, #4f2483 0%, #171b50 100%);
}
.data_flex .startup:hover button {
  transition: 1s;
  color: #fff;
  background-color: #fa2952;
}

.blog {
  width: 300px;
  background-color: #ffffff;
  margin: 30px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.blog .card-img-top {
  width: 300px;
}
.blog .card-img-top img {
  width: 300px;
}
.blog p {
  color: #7f7c7c;
  font-size: 14px;
  margin: 15px 0px 0px 15px;
}
.blog h4 {
  color: #1e1d1d;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 0px 20px 15px;
}
.blog .author {
  display: flex;
  margin: 15px;
}
.blog .author img {
  width: 30px;
  height: 30px;
}
.blog .author .name_date {
  margin: 3px;
}
.blog .author .name_date p {
  margin-left: -2px;
  margin-top: 0px;
}
.blog .author .name_date h5 {
  color: #413f3f;
  font-size: 13px;
  font-weight: 400;
  line-height: 11px;
}
.blog .author label {
  margin-left: 90px;
  padding: 2px;
}
.blog .author label::before {
  content: url("../img/Layer_7_copy.png");
  position: absolute;
  margin-left: -33px;
}

.form {
  box-shadow: 0 73px 57px rgba(168, 168, 168, 0.22);
  background-image: linear-gradient(242deg, #4f2483 0%, #171b50 100%);
}

.form_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 58px 0px;
}
.form_flex form {
  width: 450px;
  flex-direction: column;
  margin: 80px 0px 0px 0px;
  color: #fff;
}
.form_flex form h3 {
  font-size: 28px;
  font-weight: 500;
}
.form_flex form p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
.form_flex form .input {
  margin: 12px 0px;
}
.form_flex form .input input {
  padding: 12px;
  margin: 20px 0px;
  border-radius: 4px;
  border: 1px solid #707070;
  background-color: #ffffff;
  opacity: 0.5;
  width: 380px;
}
.form_flex form .input button {
  margin: 20px 0px;
  width: 100px;
  padding: 12px;
  border-radius: 4px;
  background-color: #ff4059;
  cursor: pointer;
  color: #fff;
}
.form_flex .img_form img {
  width: 550px;
  margin: 30px 0px;
}
.form_flex .img_form img img {
  width: 100%;
}

#connectors {
  background-image: url(../img/kisspng-world-map-dot-distribution-map-globe-dotted-line-5ac56b2f535d93.png);
  background-repeat: no-repeat;
  background-size: 500px 400px;
}
#connectors .connector_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#connectors .connector_flex .connect_img {
  width: 450px;
}
#connectors .connector_flex .connect_img img {
  width: 400px;
}
#connectors .connector_flex .integration {
  width: 500px;
}
#connectors .connector_flex .integration label {
  color: #fa2952;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}
#connectors .connector_flex .integration h3 {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-weight: 600;
  color: #252728;
  padding: 5px 0px;
}
#connectors .connector_flex .integration p {
  color: #576471;
  font-size: 15px;
  line-height: 27px;
}
#connectors .connector_flex .integration p span {
  display: block;
  padding: 16px 0px;
}

.bg_engineear {
  position: relative;
  z-index: 2;
}
.bg_engineear:before {
  content: "";
  opacity: 0.1;
  background-image: url(../img/41-layers.png);
  background-size: cover;
  background-position: -290px 0px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 0;
}
.bg_engineear .positioning {
  z-index: 2;
  position: relative;
}
.bg_engineear .experience_flex {
  display: flex;
  flex-wrap: wrap;
}
.bg_engineear .experience_flex .card_two {
  width: 350px;
  background-color: #fff;
  margin-left: 12px;
}
.bg_engineear .experience_flex .card_two h4 {
  color: #303131;
  font-size: 21px;
  font-weight: 500;
  line-height: 12px;
  margin: 12px;
}
.bg_engineear .experience_flex .card_two p {
  color: #7a7e82;
  font-size: 17px;
  line-height: 12px;
  margin: 12px;
}
.bg_engineear .experience_flex .card_two img {
  width: 100%;
}
.bg_engineear .experience_flex .card_two .effect:hover {
  opacity: 0.48;
}
.bg_engineear .experience_flex .card_two button {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  background-color: #fa2952;
  position: absolute;
  margin-top: 33%;
  margin-left: -85px;
}
.bg_engineear .experience_flex .card_two button a {
  display: none;
}
.bg_engineear .experience_flex .card_two button:hover a {
  margin: -100px;
  display: block;
}
.bg_engineear .experience_flex .card_two button:hover a i {
  color: #24126a;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  background-color: #fff;
  padding: 16px 0px;
}
.bg_engineear .experience_flex .card_two button img {
  width: 23px;
}
.bg_engineear .experience_flex .team {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 60px 0px;
}
.bg_engineear .experience_flex .team p {
  color: #fa2952;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 20px;
}
.bg_engineear .experience_flex .team h3 {
  color: #122d48;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 20px;
  padding: 12px 0px;
}
.bg_engineear .card_three {
  width: 520px;
  background-color: #fff;
  margin-left: 12px;
}
.bg_engineear .card_three h4 {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #263035;
  font-size: 16px;
  font-weight: 500;
  margin: 15px;
}
.bg_engineear .card_three p {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #7c7d8d;
  font-size: 18px;
  margin: 15px;
}
.bg_engineear .card_three img {
  width: 100%;
}
.bg_engineear .card_three img:hover {
  opacity: 0.55;
}

.card_five {
  display: flex;
  width: 550px;
  margin-left: 12px;
  flex-wrap: wrap;
}
.card_five .card_four {
  width: 260px;
  background-color: #fff;
  margin-left: 12px;
  margin-bottom: 8px;
}
.card_five .card_four img {
  width: 260px;
}
.card_five .card_four img:hover {
  opacity: 0.55;
}
.card_five .card_four .education {
  margin-left: 12px;
}
.card_five .card_four p {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 500;
}
.card_five .card_four h4 {
  color: #263035;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
}
.card_five .card_six {
  width: 530px;
  margin-left: 10px;
}
.card_five .card_six .image_five img {
  outline: none;
  width: 530px;
  position: relative;
}
.card_five .card_six .situation {
  position: absolute;
  top: 50%;
  padding: 30px;
}
.card_five .card_six .situation p {
  opacity: 0.5;
  font-size: 18px;
  font-weight: 500;
}
.card_five .card_six .situation h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 47px;
}

.card_seven {
  width: 350px;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.card_seven h5 {
  padding: 17px 0px 0px 10px;
  color: #0d2763;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
}
.card_seven p {
  padding: 1px 0px 0px 10px;
  color: #7c7d8d;
  font-size: 10px;
  line-height: 30px;
}
.card_seven:hover {
  background-repeat: no-repeat;
  background-size: 350px 500px;
  box-shadow: 0 73px 57px rgba(168, 168, 168, 0.22);
  background-image: linear-gradient(241deg, #4f2483 0%, #171b50 100%);
  transition: 0.54s;
}
.card_seven:hover p {
  color: #fff;
}
.card_seven:hover h5 {
  color: #fff;
}

.text-left {
  background-color: slateblue;
}
.text-left p {
  color: #fff;
}
.text-left .new_aim {
  max-height: 60px;
}

.bg_footer {
  background-color: #24126a;
}
.bg_footer .virtualization {
  width: 270px;
}
.bg_footer .link_ta {
  width: 270px;
}

.d_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
}
.d_flex .virtualization {
  width: 300px;
  margin: 120px 0px 0px 120px;
}
.d_flex .virtualization p {
  padding: 44px 0px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
}
.d_flex .location {
  width: 160px;
  margin-top: 120px;
}
.d_flex .location Address {
  padding: 44px 0px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.d_flex .link_tag_footer {
  width: 300px;
  margin-top: 120px;
}
.d_flex .link_tag_footer p {
  padding: 44px 0px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
}
.d_flex .link_tag_footer .fa-twitter,
.d_flex .link_tag_footer .fa-facebook-f,
.d_flex .link_tag_footer .fa-linkedin {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 13px;
  display: inline-block;
  margin: 25px 17px 0px 2px;
  color: #171b50;
}
.d_flex h4 {
  opacity: 0.8;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

/* responsive design */
@media screen and (max-width: 991px) {
  .flex-header {
    display: flex;
    flex-direction: column;
  }
  .flex-header .nav_link ul {
    flex-direction: column;
  }
  .flex-header .nav_link ul li {
    margin-top: 15px;
    margin-left: 0px;
  }
  .flex-header .nav_link_one ul {
    flex-direction: column;
  }
  .flex-header .nav_link_one ul li {
    margin-top: 15px;
    margin-left: 0px;
  }
  .flex-header .nav_link_one ul .bg_sign {
    text-align: center;
  }

  .flex_artical .bg_two {
    display: none;
  }
  .flex_artical .artical_one {
    padding: 0px;
    margin: 0px !important;
  }

  .flex_articale .banner_image img {
    display: none;
  }

  .flex_iotify {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=styles.css.map */
